@use "../../mixins"

.about-project-page
    display: grid
    grid-template-columns: 1fr

    &__title
        grid-column: 1/2

        @include mixins.media-lg
            grid-column: 1/3

    &__subtitle
        grid-column: 1/2

        @include mixins.media-lg
            grid-column: 1/3

    &__for-users-title
        @include mixins.media-lg
            grid-column: 1/2

    &__for-users-text
        @include mixins.media-lg
            grid-column: 1/2

    &__for-developers-title
        @include mixins.media-lg
            grid-column: 2/3
            grid-row: 3/4

    &__for-developers-text
        @include mixins.media-lg
            grid-column: 2/3

    &__last
        grid-column: 1/2
        margin-top: 10px

        @include mixins.media-lg
            grid-column: 1/3

    @include mixins.media-lg
        grid-template-columns: 1fr 1fr
