@use "../../mixins"
    
.how-it-works-page
    h1
        @include mixins.media-lg
            grid-column: 1/3
    
    img
        @include mixins.media-lg
            grid-column: 2/3
    
    p
        @include mixins.media-lg
            grid-row: 2/3

    @include mixins.media-lg
        display: grid
        grid-template-columns: 1fr 1fr
