@use "./mixins"
@use "./colors"
@use "./fonts"

@use "swiper.sass"

*
     box-sizing: border-box

body
     margin: 0

     h1, h2
          margin: 10px 0

     p
          margin: 0
          font-size: fonts.$xl

     button
          font-size: fonts.$xl

.App
     padding: 4px
     height: 100vh
     height: var(--window-height)

     @include mixins.media-lg
          padding: 20px

.button-primary
     display: block
     margin: 0 auto
     padding: 16px
     background-color: colors.$brown
     border: none
     border-radius: 40px

     @include mixins.media-height
          display: none
