.our-benefits-page
    height: 100%
    display: flex
    flex-direction: column
    align-items: center

    ul
        font-size: 2rem
        color: white
        list-style: none

        li
            margin: 10px 0

    button
        margin-top: auto