@use "./mixins"
@use "./styles/colors"
@use "./styles/fonts"

@use "swiper.sass"

*
     box-sizing: border-box

body
     margin: 0
     font-family: fonts.$base-font
     background-color: colors.$dark

     h1, h2
          color: colors.$blue
          margin: 10px 0

     p
          margin: 0
          color: colors.$white
          font-size: fonts.$xl

     button
          font-size: fonts.$xl

     li
          font-family: fonts.$base-font 

.App
     padding: 4px
     height: 100vh

     @include mixins.media-lg
          padding: 20px

.button-primary
     display: block
     margin: 0 auto
     padding: 16px
     background-color: colors.$brown
     border: none
     border-radius: 40px

     @include mixins.media-height
          display: none
